.footer{
    background-color: #252239;
    height: 40px;
    position: relative;
    width: 100%;
    display: inline-flex;
    color: white;
    justify-content: space-between;
    bottom: 0;
}
.redes{
    align-self: center;
    margin-right: 5%;
    
}
.redes img{
    margin: 10px;
    max-width: 3vw;
    max-height: 3vh;
}
.footer h1{
    font-size: 0.8rem;
    font-weight: normal;
    align-self: center;
    margin-left: 5%;
}
#copyright{
    max-width: 5%;
    max-height: 5%;
}