.main2{
    position: relative;
    top: 40px;
    height: 500px;
    width: 100vw;
    display: inline-grid;
    max-width: 100%;
}
.main2texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main2texto h1{
    font-size: 20pt;
    color: black;
    padding: 10px;
    font-weight: normal;
    text-align: center;
    border-bottom: 1px solid black;
}
.spanh1{
    display: block;
    padding: 5px;
}
.cardspace{
    display: flex;
    justify-content: space-evenly;
}
.cards{
    border: 1px solid skyblue;
    border-radius: 10px;
    flex: 1;
    margin: 0px 5% 13% 5%;
}
.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.titulo h1{
    position: relative;
    opacity: 0.5;
    font-size: 6rem;
    margin: auto;
    color: lightslategray;
}
.titulo h2{
    position: absolute;
    margin-top: 0;
    font-size: 1.2rem;
    max-width: 12%;
    text-align: right;
}
.cards h3{
    position: relative;
    font-size: 0.7rem;
    text-align: left;
    margin-left: 5%;
    width: 90%;
    color: lightslategrey;
}