@media only screen and (max-width: 760px){
    .logonome{
        margin: auto;
        justify-content: center;
    }
    #navbar{
        display: none;
    }
    .main1{
        background-position: 60% 10%;
    }
    .colunatexto h1{
        font-size: 2rem;
        text-align: center;
    }
    .colunatexto h2 span{
        display: block;
    }
    .cardspace{
        display: grid;
        justify-items: center
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer h1{
        width: 50%;
        text-align: center;
        margin: auto;
    }
    .redes{
        margin: auto;
    }
    
}
