.head{
    background-color: #252239;
    width: 100%;
    top: 0;
    position: absolute;
    height: 40px;
    display: inline-flex;
    justify-content: space-around;
}
body{
display: block;
width: 100%;
height: 100%;
}
img#logo{
    width: 30px;
    height: 30px;
}
.logonome{
    color: white;
    display: inline-flex;
}
.logonome h1{
    font-size: 15px;
    align-self: center;
}
.logonome img{
    align-self: center;
}

nav#navbar ul{
    list-style: none;
    color: white;
    display: inline-flex;
    height: 40px;
    justify-content: space-between;
    width: 200px;
    
}
nav#navbar li{
    margin: 10px;
    font-size: 13px;
    align-self: center;
}
.main1{
    background-image: url("intersection 1.png");
    top: 40px;
    background-size: cover;
    position: relative;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    display: inline-grid;
    align-items: center;
}
.colunatexto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.colunatexto h1{
    font-size: 30pt;
    color: white;
    padding: 10px;
    font-weight: normal;
}
.money{
    color:   #E1B370;
}
h2 span{
    display: block;
    padding:5px;
    align-self: center;
    color: white;
    text-align: center;
    font-weight: normal;
}
button{
    background-color: #252239;
    color: white;
    font-weight: normal;
    border-radius: 100px;
    border: none;
    padding: 7px;
}
.footer{
    background-color: #252239;
    height: 40px;
    position: absolute;
    width: 100%;
    display: inline-flex;
    color: white;
    justify-content: space-around;
    bottom: 0;
}
.redes{
    display: flex;
    justify-content: space-around;
    width: 150px;
    align-self: center;
    
}
.redes img{
    margin: 5px;
    max-width: 20px;
    max-height: 20px;
    width: auto;
    height: auto;
}
.footer h1{
    font-size: 13px;
    font-weight: normal;
    align-self: center;
}
#copyright{
    max-width: 11px;
    max-height: 11px;
    width: auto;
    height: auto;
}